<nb-card>
  <nb-card-header>
    Main work this week
  </nb-card-header>

  <nb-card-body>
    <div style="width:20%;margin-bottom: 1rem;">
        <!-- {{items | async | json}}<br>{{item | async | json}} -->
        <!-- <pre>
            {{ menus$ | async | json }}
            {{ menu$ | async | json }}
            {{ number$ | async | json }}
        </pre> -->
        <div class="dropdown ghost-dropdown" ngbDropdown>
            <button class="btn btn-primary" type="button" ngbDropdownToggle>
              This Week
            </button>
            <ul class="dropdown-menu" ngbDropdownMenu>
              <li class="dropdown-item" *ngFor="let item of dateItems" >{{item}}</li>
            </ul>
          </div>
    </div>
    <ng2-smart-table [settings]="settings" [source]="source"
      (createConfirm)="onCreateConfirm($event)"
      (editConfirm)="onEditConfirm($event)"
      (deleteConfirm)="onDeleteConfirm($event)"
    >
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
